<div class="dad-joke-form">
  <form action="/upload" method="post">
    <div class="form-control">
      <input type="text" name="jokeName" id="jokeName" placeholder="Enter the name of your joke" />
    </div>
    <div class="form-control">
      <textarea name="joke" id="joke" cols="30" rows="10" placeholder="Enter your joke"></textarea>

    </div>
    <div class="form-control">
      <button type="submit" class="btn">Upload</button>
    </div>
  </form>
</div>