<script src="/js/script.js"></script>
<!-- Footer -->
<p class="footer">
    ExpressJs Assignment by Imelda Juliet
    <a href="https://github.com/julienyaware"> @JullietNyaware </a>
    &copy; 2024
    </body>

    </html>