<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="wrapper">
        <!-- Navigation Bar-->
        <nav class="main-nav">
            <ul>
                <li><a href="/">Home (STATIC)</a></li>
                <li><a href="/upload">Upload Dad Joke (DYNAMIC)</a></li>
            </ul>

        </nav>