<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
   
    <%- include('header.ejs') %>
        <h1>ADD YOUR OWN DAD JOKE TO THE COLLECTION &#128512;</h1>
        <%- include('dadJokes.ejs') %>
            <%- include('footer.ejs') %>
</body>

</html>